@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #222;
    color: #eee;
    font-family: 'Press Start 2P', sans-serif;
}

header {
    position: relative;
    height: 35vh;
    border-bottom: 7px solid #eee;
}

h1 {
    position: absolute;
    top: 100px;
    left: 500px;
}

.between {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    font-weight: 400;
}

.again {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: inherit;
    font-size: 20px;
    padding: 20px 35px;
    border-radius: 0;
}

.number {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #eee;
    color: #333;
    width: 120px;
    padding: 24px 0px;
    font-size: 60px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    color: #eee;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.right {
    width: 50%;
    font-size: 16px;
}

.guess {
    background: none;
    color: inherit;
    border: 4px solid #eee;
    padding: 20px;
    font-size: 40px;
    width: 200px;
    height: 65px;
    text-align: center;
    display: block;
    margin-bottom: 24px;
    font-family: inherit;
}

.check {
    font-family: inherit;
    font-size: 20px;
    padding: 20px 35px;
    border-radius: 0;
}

button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.message {
    font-size: 24px;
    margin-bottom: 100px;
    margin-left: 80px;
}

.score {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.score span {
    margin-left: 0;
}

.highscore {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.highscore span {
    margin-left: 0;
}